## PYTHON

# Identifiers

In [2]:
cash  =  30
cash

30

In [4]:
cas_h = 30
cas_h

30

In [7]:
12cas = 35
12cas
#identifiers never starts with numbers

SyntaxError: invalid syntax (2305960525.py, line 1)

In [6]:
cas12 = 23
cas12

23

In [11]:
To = 36
to
# Python is case sensitive(use To)

NameError: name 'to' is not defined

In [12]:
# Bool data types
a = 23
b = 30
c = a<b
c

True

In [13]:
type(c)

bool

In [1]:
# how to print wihtout a new line in python

In [2]:
print("hi", end = "\n")
# this is by-default
print("welcome to python")

# parameter called end

hi
welcome to python

#### The “end” is a keyword that is used in python to place a space after the displayed  string instead of a newline. In python every time you print(“something”), by default it will append a newline

In [18]:
# to print multiline string we required triple quotes

s = '''deepankar
       santosh
         pawar'''
s

'deepankar\n       santosh\n         pawar'

In [5]:
s = "deepankar \n pawar"
print(s)

deepankar
 pawar

In [19]:
# slicing in string

s = "DurgaSoft"
s[1]

'u'

In [21]:
s[0:4]

'Durg'

In [24]:
s[-4:-1]

'Sof'

In [28]:
s[:]

'DurgaSoft'

In [29]:
s[-8:-1]

'urgaSof'

In [32]:
a = 330000.90
type(a)

float

In [33]:
int(123.567)

123

In [34]:
int(True)

1

In [35]:
int("10")

10

In [36]:
float(10)

10.0

In [37]:
float("10")

10.0

In [38]:
float("ten")

ValueError: could not convert string to float: 'ten'

In [39]:
complex(10)

(10+0j)

In [40]:
complex(10.5)

(10.5+0j)

In [41]:
complex(True)

(1+0j)

In [42]:
complex("10.5")

(10.5+0j)

In [43]:
complex(10, -2)

(10-2j)

In [49]:
a = 10
b = 10
id(a)

1419574733392

In [50]:
id(b)

1419574733392

In [ ]:
# in above both varaibles are pointing to one object

In [1]:
# bytes data type, only upto 255 above then that will throw an error
x = [110,20,255]
b = bytes(x)

In [2]:
for i in b:
    print(i)

110
20
255

In [3]:
a = [10,20,30,"durga",50]
a

[10, 20, 30, 'durga', 50]

In [4]:
a[1]=100

In [5]:
a

[10, 100, 30, 'durga', 50]

In [6]:
a.remove(10)

In [7]:
a

[100, 30, 'durga', 50]

In [61]:
a.insert(0,1000)

In [62]:
a

[1000, 100, 30, 'durga', 50]

In [64]:
a.append(1234) 
# get added at last

In [65]:
a

[1000, 100, 30, 'durga', 50, 1234]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
a.append(10009)

In [9]:
a

[100, 30, 'durga', 50, 10009]

In [10]:
#range

z = range(10,15)

In [11]:
for i in z:
    print(i)

10
11
12
13
14

In [12]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [13]:
d = list(range(1,10))
d

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
f = [1,2,3,4,'a','b','c']
'a' in f

True

In [15]:
name = ['amar','deep']
age = [15,16]
d  = age+name

In [16]:
d

[15, 16, 'amar', 'deep']

In [17]:
name = ['amar','deep']
age = [15,16]
animal = ['Cat', 'Dog', 'Fish', 'Goat']
d = zip(name,age,animal)
for i in d:
    print(i)

('amar', 15, 'Cat')
('deep', 16, 'Dog')

In [18]:
name = ['amar','deep']
age = [15,16]
animal = ['Cat', 'Dog', 'Fish', 'Goat']
d = zip(name,age,animal)
for name,age,animal in d:
    print(name,age,animal)

amar 15 Cat
deep 16 Dog

In [22]:
a = [1,2,3,45,7]
b = ["dj","sk","ki"]

a.extend(b)
a

[1, 2, 3, 45, 7, 'dj', 'sk', 'ki']

In [25]:
dj = [4563,5000,123,1,345]
dj.sort()

In [26]:
dj

[1, 123, 345, 4563, 5000]

In [27]:
dj.pop()

5000

In [28]:
dj.pop(0)

1

In [29]:
dj

[123, 345, 4563]

In [30]:
bool(0.000)

False

In [31]:
bool(1234)

True

In [32]:
bool(123.345)

True

In [33]:
bool(0)

False

In [34]:
# Python program to interchange first and last elements in a list

a = [10,20,30,50]
a[3],a[0]=a[0],a[3]
a

[50, 20, 30, 10]

In [36]:
#also
def swapList(a):
    a[0],a[-1] = a[-1],a[0]
    return a

a = [1,2,3,67]
swapList(a)

[67, 2, 3, 1]

In [38]:
# 2. Python program to swap two elements in a list

a = [10,20,30,40,50]
a.index(30)

2

In [39]:
a[2],a[4]=a[4],a[2]

In [40]:
a

[10, 20, 50, 40, 30]

In [41]:
# 4. Python | Ways to find length of list
len(a)

5

In [42]:
a = [10,20,30,40]
c = 0
for i in a:
    c = c+1
    
c

4

In [56]:
# 5. Maximum of two numbers in Python
a = [10,220,30,40]
for i in range(0,len(a)):
    for j in range(1,len(a)):
        if a[i]<a[j]:
            a[i]=a[i]
        else:
            a[i],a[j]=a[j],a[i]

            
for element in a:
    print(element)

10
220
40
30

In [68]:
a = [10, 230, 30, 40]

# sorting the list using bubble sort
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if a[i]<a[j]:
            a[i]=a[i]
        else:
            a[i],a[j]=a[j],a[i]
for k in a:
    print(k)

10
30
40
230

In [3]:
# Python functions

def add():
    n1 = 10
    n2 = 20
    n3 = n1+n2
    print(f"{n1+n2}")

add()

30

In [4]:
def add(v1,v2):
    print(f"the addition is {v1+v2}")

add(3,2)

the addition is 5

In [7]:
def add():
    v1 = 8
    v2 = 9
    return (f" the number is {v1+v2}")

add()

' the number is 17'

In [11]:
def add(v1,v2):
    return(v1+v2)

add(4,5)

9

In [12]:
a = 10
b = 3.4
c = a+b
c

13.4

In [13]:
a = "5"
b = int(a)
c = float(a)
print(b)  # Output: 5
print(c)  # Output: 5.0
# explicitly type casting

5
5.0

In [14]:
# 9//4      Floor division

2

In [15]:
2 and 3

3

In [21]:
x=2
x**4

16

In [30]:
x = 1
y = 0
z = x|y
z

1

In [37]:
x = 11
y = ~x
print(y)

-12

In [40]:
a = [1, 2, 3]
b = a
c = [1, 2, 3]



a is not c

True

In [4]:
a = True+False
a

1

In [5]:
a = 5
b = 7
a>b and b<8

False

In [6]:
# 2**4   exponential operator

16

In [11]:
1000.7//2

500.0

In [1]:
True*True

1

In [2]:
True*False

0

In [3]:
True/False

ZeroDivisionError: division by zero

In [4]:
a = 10
b= 30
a<=b

True

In [5]:
from math import*
print(sqrt(36))
print(pi)

6.0
3.141592653589793

In [6]:
True >False

True

In [7]:
False>True

False

In [8]:
True<10
# internally it is treated as 1

True

In [14]:
"Durga"<"Mur"

True

In [18]:
name = input("Enter your Name:")
passwd = int(input("Enter Your Password :"))
if name == 'Deep' and passwd == 1234:
    print("Welcome")
else:
    print("Invalid UserName")

Enter your Name:Deep
Enter Your Password :1234
Welcome

In [21]:
x = 0
not x    

# -> 0 means False not False(0) is True

True

### SETS

In [22]:
my_set = {1.0,"Hello",(1,2,3)}
print(my_set)

{1.0, (1, 2, 3), 'Hello'}

In [23]:
my_set = {1,2,3,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [26]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [ ]:
# As per the Python's Official Documentation, set data structure is referred as Unordered Collections of Unique Elements and that doesn't support operations like indexing or slicing etc.

In [27]:
my_set.remove(1)

In [28]:
my_set

{2, 3, 4, 5}

In [29]:
my_set.add(1)

In [30]:
my_set

{1, 2, 3, 4, 5}

In [31]:
my_set.pop()

2

In [32]:
my_set

{1, 3, 4, 5}

In [34]:
my_set.clear()

In [35]:
my_set

set()

In [38]:
a = {1,2,3}
b = {4,5,6,}
z = a.union(b)

In [39]:
z

{1, 2, 3, 4, 5, 6}

In [40]:
a = {1,2,3}
b = {4,5,6,6,6}
z = a.intersection(b)

In [41]:
z

set()

## Functions in Python

In [1]:
grocery = ['bread', 'milk', 'butter']
enumerateGrocery = enumerate(grocery)
 
print(type(enumerateGrocery))
 
# converting to list
print(list(enumerateGrocery))
 
# changing the default counter
enumerateGrocery = enumerate(grocery, 10)
print(list(enumerateGrocery))

# IN_built FUNCTION

<class 'enumerate'>
[(0, 'bread'), (1, 'milk'), (2, 'butter')]
[(10, 'bread'), (11, 'milk'), (12, 'butter')]

In [1]:
def squa(n1):
    return (n1**2)

squa(4)

16

In [10]:
def squa(n1,n2):
    return (n1**2),(n2**2)

squa(4,2)

(16, 4)

In [15]:
def squa(n1,n2=12):
    return (n1**2),(n2**2)

squa(6)

(36, 144)

In [16]:
def squa(n1,n2=12):
    return (n1**2),(n2**2)

squa(6,n2 = 4)
# keyword argument(7,8,3)

(36, 16)

In [11]:
# Variable length Argument
# *args --> non-keywords args
# **kwargs --> keyword args

ls = []
def fun(*args_ls):
    for i in args_ls:
        ls.append(i)
    print(ls)
    
fun('Python','Java','MySQl',"Hadoop")

['Python', 'Java', 'MySQl', 'Hadoop']

In [26]:
ls =[]
def fun(**args_ls):
    for key,value in args_ls.items():
        ls.append([key, value])
    print(ls)
    
fun(a = 'Python',b = 'Java',c = 'MySQl',d = "Hadoop")
# keyword argument

[['a', 'Python'], ['b', 'Java'], ['c', 'MySQl'], ['d', 'Hadoop']]

With return statement
2704
Without return statement
None

In [41]:
a = -10.56*56
print(abs(a))

591.36

## control statements
Conditional Statements determine which statements in the program will be executed and in what order, allowing for statements to be skipped over or executed repeatedly.

if, if/else, and if/elif/else statements are all examples of control structures that allow for statements to be skipped over or executed conditionally:

In [ ]:
if 'bar' in {'foo': 1, 'bar': 2, 'baz': 3}:
    print(1)
    print(2)
    if 'a' in 'qux':
        print(3)
print(4)

In [ ]:
d = {'a': 0, 'b': 1, 'c': 0}

if d['a'] > 0:
    print('ok')

In [ ]:
d = {'a': 0, 'b': 1, 'c': 0}

if d['a'] > 0:
    print('ok')
elif d['b'] > 0:
    print('ok')
elif d['c'] > 0:
    print('ok')
elif d['d'] > 0:
    print('ok')
else:
    print('not ok')

In [19]:
 ('a' + 'x') if '123'.isdigit() else ('y' + 'b')
# '123'.isdigit() The expression '123'.isdigit() returns True because the string '123' consists 
# only of numeric characters (digits),
# and therefore can be interpreted as an integer value.

'ax'

In [20]:
'2.0'.isdigit()

False

## while loop 

Python does not have a do-while loop construct, which is found in some other programming languages.
looping statements 

while

Indefinite iteration means that a loop will run repeatedly without a predetermined number of iterations. This is the default behavior of a while loop in Python.

For example, consider a program that reads data from a sensor and processes it using a while loop. The loop will continue to run until the sensor stops sending data, and the number of times the loop will run depends on how long the sensor continues to send data. Since the number of iterations is not known in advance, this is an example of indefinite iteration.

In [4]:
count = 0
while count <= 100:
    count += 1
    if count==3:
        break
print(count)

101

In [ ]:
count = 0
while count <= 100:
    count += 1
    if count==3:
        continue
print(count)

In [ ]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
while a:
    if len(a) < 3:
        continue
    print(a.pop())
print('Done.')

#  this loop is infinite

corge
qux
baz

In [3]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
while a:
    if len(a) < 3:
        break
    print(a.pop())
print('Done.')

corge
qux
baz
Done.

In [1]:
a = ['foo', 'bar', 'baz', 'qux', 'corge']
while a:
    print(a.pop())
else:
    print('Done.')
    
# Python allows an optional else clause at the end of a while loop. 
# This is a unique feature of Python,
# not found in most other programming languages. The syntax is shown below:

corge
qux
baz
bar
foo
Done.

In [3]:
a = [1,2,3]
while a:
    list.pop(a)
    
print(a)

[]

In [2]:
a = [1,2,3]
while a: a.pop()

In [3]:
a

[]

In [ ]:
# if

In [11]:
if (1, 2):
             print('foo')

foo

In [ ]:
# In Python, a suite is a group of one or more statements that are indented under 
# a control statement, such as a if, else, while, for, def, 
# or class statement. The suite is executed if the control statement's condition is true

## For loop

A for loop is often used to iterate over a sequence of values, such as a list, tuple, or range. This allows you to perform a task for each element in the sequence.

In [13]:
a = [1,2,34,3]
sum = 0
for i in a:
    sum += i
print(sum)

40

## STRING

In [19]:
a = "deepankar"
a.find('d')

0

In [20]:
a = "deepankar has a sympathy for the poor"
x = '*'.join(a)

In [21]:
x
a.count('a')

5

In [22]:
s = a.split()

In [23]:
s

['deepankar', 'has', 'a', 'sympathy', 'for', 'the', 'poor']

In [29]:
a ={1:'dj',2:'fj'}
for i in a:
    print(i)

1
2

In [30]:
s[::-1]

['poor', 'the', 'for', 'sympathy', 'a', 'has', 'deepankar']

In [33]:
a = 89
(a)

89

In [34]:
a = (1,2,3,4)
a[::-1]

(4, 3, 2, 1)

## SCOPE OF VARIABLE IN PYTHON

In [40]:
x = 10

def function():
    y = 20
    print("print x = ",x)
    print("print y = ",y)
    
function()   
     
print("y = ",y)  
# this will give error because the scope of variable is inside the function only

print x =  10
print y =  20

NameError: name 'y' is not defined

In [53]:
class A:
    x = 10
    def my_method(self):
        y = 20
        print("y = ",y)

a = A()

print(A.x)
a.my_method()

10
y =  20

### 
Python, the term "scope" refers to the region of a program where a particular variable or function can be accessed. In other words, it defines the visibility and accessibility of variables and functions in your code.

There are two main types of scope in Python:

Global scope: Variables and functions defined at the top-level of a Python program or module are considered to be in the global scope. This means that they can be accessed from anywhere in the program.

Local scope: Variables and functions defined inside a function are considered to be in the local scope. This means that they can only be accessed from within the function.

Understanding scope is important in Python because it helps you avoid naming conflicts and ensures that your code is organized and easy to maintain. By defining variables and functions in the appropriate scope, you can create more efficient and robust programs.

## REGEX

In [4]:
import re

user_input = input("enter data to the test")
p = '\D'
if re.search(p,user_input):
    print("correct")
else:
    print("in_correct")

enter data to the test123amar
correct

In [18]:
import re 
user_input = input("Enter the number")
p = "\w"
# should have alphabet +
if re.search(p,user_input):
    print("correct")
else:
    print("in-correct")

Enter the number$%sd
correct

In [ ]:
import re 
user_input = input("Enter the number")
p = "\W"
# should have symbols+
if re.search(p,user_input):
    print("correct")
else:
    print("in-correct")

In [7]:
import re 
user_input = input("Enter the number")
p = "[a-z]"
if re.search(p,user_input):
    print("correct")
else:
    print("in-correct")

Enter the number123
in-correct

In [8]:
import re 
user_input = input("Enter the number")
p = "[a-zA-Z]"
if re.search(p,user_input):
    print("correct")
else:
    print("in-correct")

Enter the numberAMAR
correct

In [ ]:
import re 
user_input = input("Enter the number")
p = "[A-Za-z0-9\.]+[@]+[a-zA-Z]+[\.][a-zA-z]{2,3}"
if re.search(p,user_input):
    print("Correct")
else:
    print("in-correct")

In [ ]:
data = "this is Test"
import re 
inp = input()

## STRING

The join() method of a string is applicable on iterable objects, such as lists, tuples, and sets. The join() method concatenates the elements of an iterable object into a single string, with a specified separator between each element.

In [33]:
a = "deepankar has a sympathatic view"
s = " ".join(a)
s

'd e e p a n k a r   h a s   a   s y m p a t h a t i c   v i e w'

In [44]:
# how to convert list to string

a = {1,2,3,4,5}
b = []
for i in a:
    z=str(i)
    b.append(z)

In [45]:
c = "".join(b)
c

'12345'

In [13]:
d

'12345'

In [46]:
c = "deepanka pawar"
c.split()

['deepanka', 'pawar']